*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

header{

    width: 100%;
    height: 100px; 
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

header #textos{
    margin-right: 3%;
    color: rgb(0, 0, 0);
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
}

#instituto{
    font-family: 'roboto', 'sans-serif';
    border-radius: 5px;
    width: 150px;
    height: 35px;
    border: none;
    outline: 2px solid rgb(0, 0, 0);
    padding-left: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: rgb(61, 61, 61);
}

a {
    color: rgb(0, 0, 0);
    text-decoration:solid; 
  }

a:hover {
    color: rgb(0, 0, 0);
    text-transform: solid;
    text-decoration: none;
  }

header #logo{
    position: absolute;
    width: 160px;
    height: 65px;
    margin-top: -0.3%;
    margin-right: 80%;
}

@media screen and (max-width: 800px) {
    header{
    height: 50px;
    }

    header #logo{
    margin-right: 70%;
    width: 110px;
    height: 40px;
    }

    header #textos{
    margin-right: 8.3%;
    display: flex;
    font-size: 6px;
    }

    header #linha1{
    margin-right: 13.3%;
    width: none;
    height: none;
    margin-bottom: 1.5%;
    }
    
    header #linha2{
    margin-right: 13.3%;
    margin-top: 1.5%;
    width: none;
    height: none;
    }
  }