.login {
  background: url('../../assets/backgroundForm.png');
  background-size: cover;
  background-position: center;
}

.login h1 {
  text-align: center;
  font-size: 30px;
  color: #ffff;
}

.login .input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.login .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.login button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  text-shadow: none;
}

.signup-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.signup-link .texto-normal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-normal{
  color: white;
}

.texto-erro{
  color: red;
  padding-bottom: 10px;
}

.link{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}