body {
    background-color: #F2F5F8;
}

#filtros {
    display: flex;
    gap: 70px;
}

#titulo-adicionar {
    margin-left: -30px;
    background-color: #9BDAFD;
    width: 220px;
    padding-right: 30px;
    padding-left: 30px; 
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px 5px 0px 0px;
}

#adicionar-tarefa {
    background-color: rgb(255, 255, 255);
    width: 220px;
    padding-right: 30px;
    padding-left: 30px; 
    height: 255px;
    /* -webkit-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.35); */
    border-radius: 15px;

}

#adicionar-tarefa img{
    width: 100px;
    height: 100px;
}

#adicionar-tarefa:hover {
    cursor: pointer;
}


#icon-adicionar {
    border: none;
    border-radius: 90px;
    background-color: #ffffff;
}

#icon-adicionar img {
    margin-left: 50%;
}

#icon-adicionar:hover {
    cursor: pointer;
}