/* Importando Tailwind no root  */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}